<!-- Include partials/header -->
<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
       <div class="ui top attached">
           <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>" >
                <div class="content">
                    <div class="meta">
                        <span><%= blog.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p> <%- blog.body %> </p>
                    </div>
                    <!-- Adding EDIT -->
                    <div class="extra">
                        <a class="ui inverted secondary button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="ui inverted red button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>

<!-- Include partials/footer -->
<% include partials/footer %>